In [1]:
import pandas as pd

In [25]:
df = pd.read_parquet("/workspaces/docker-workshop/green_tripdata_2025-11.parquet")
df2 = pd.read_csv("/workspaces/docker-workshop/taxi_zone_lookup.csv")

In [26]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [28]:
df2

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [27]:
###### Question3:For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', 
#exclusive of the upper bound), how many trips had a trip_distance of less than or equal to 1 mile?
mask = (
    (df["lpep_pickup_datetime"] >= "2025-11-01") &
    (df["lpep_pickup_datetime"] < "2025-12-01")
)

filtered_df = df[mask]
count = (filtered_df["trip_distance"] <= 1).sum()
print(count) #Answer 8007

8007

In [32]:
###Question 4
filtered_df = df[df["trip_distance"]<= 100]
max_row = filtered_df.loc[filtered_df["trip_distance"].idxmax()]
max_date = max_row["lpep_pickup_datetime"]
max_date # Answer 2025-11-14

Timestamp('2025-11-14 15:36:27')

In [44]:
# Question 5
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])
df_1118 = df[
    df["lpep_pickup_datetime"].dt.date == pd.to_datetime("2025-11-18").date()
]
amount_by_pu = df_1118.groupby("PULocationID")["total_amount"].sum()
top_pu = amount_by_pu.idxmax()
top_pu
Answer = df2.loc[df2["LocationID"] == 74, "Zone"]
Answer #East Harlem North

73    East Harlem North
Name: Zone, dtype: str

In [49]:
# Question 6
df_74 = df[df["PULocationID"] == 74]

max_row = df_74.loc[df_74["tip_amount"].idxmax()]


max_do = max_row["DOLocationID"]
max_do
df2.loc[df2["LocationID"] == 263, "Zone"]# Answer:Yorkville West

262    Yorkville West
Name: Zone, dtype: str

In [ ]:
!uv add sqlalchemy